
@{
    ViewBag.Title = "LoginForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginForm</h2>


@model LoginEncryption2.Models.FormData
<h2>@Model.Email</h2>
<br>
<h2>@Model.Password</h2>
<br>
@*<h2>@Model.EncryptedPassword</h2>*@

