@{
    Layout = null;
}

@model LoginEncryption2.Models.FormData



<!-- Strongly typed synchronous form-->
@*<h2>Login</h2>
    @using (Html.BeginForm("LoginForm", "Form", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Email, new { @id = "login-form-email", @type = "email", @placeholder = "Email" })
        <br>
        @Html.TextBoxFor(model => model.Password, new { @id = "login-form-password", @type = "password", @placeholder = "Password" })
        <br>
        <input type="submit" value="Submit" />
    }*@




<!-- Strongly typed synchronous form-->
<h2>Login</h2>
<div>
    <input id="login-form-email" type="email" placeholder="Email">
    <br>
    <input id="login-form-password" type="password" placeholder="Pasword">
    <br>
    <input onclick="loginSubmit()" type="submit" value="Submit" />

</div>
    

    
